useDynLib(dynGLMbm, .registration = TRUE)
import(Rcpp)
importFrom(graphics, text)
importFrom(grDevices, colorRampPalette)
importFrom(stats, as.formula)
importFrom(stats, binomial)
importFrom(stats, coef)
importFrom(stats, family)
importFrom(stats, glm)
importFrom(stats, logLik)
importFrom(stats, na.omit)
importFrom(stats, poisson)
importFrom(stats, predict)
importFrom(stats, rbinom)
importFrom(stats, runif)
importFrom(stats, update)
importFrom(stats, xtabs)
importFrom(stats, setNames)
export(mdsbm_opr)
export(mdsbm_one_partition)
export(mdsbm_icl_one_partition)
export(ppml)
export(optParGlm)
export(optRandomParGlm)
export(optRandomParRangeGlm)
export(upAndDownSearch)
export(mergeAndSplit)
export(stochBlockForUDS)
export(getBestNClust)
export(as_dynamic_network)
export(print.dynamic_network)
export(summary.dynamic_network)
S3method(plot, mergeSplitSearch)
S3method(print, dynamic_network)
S3method(summary, dynamic_network)
S3method(print, summary.dynamic_network)
export(balassaNorm)
export(dynsbmICL)
export(icl_from_glm)
export(glm_blockmodel_family)
